* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  background-color: #20242A;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Defaults */
h2 {
  font-size: 30px;
  text-transform: capitalize;
  color: cornflowerblue;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 26px;
  color: #ABB2BE;
}

a {
  color: #ABB2BE;
}

a:hover {
  color: cornflowerblue;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  background: cornflowerblue;
  background: -moz-linear-gradient(to right, cornflowerblue, blueviolet);
  background: -webkit-linear-gradient(to right, cornflowerblue, blueviolet);
  background: linear-gradient(to right, cornflowerblue, blueviolet);
  text-align: center;
  justify-content: center;
  height: 150px;
}

header h1 {
  text-transform: capitalize;
  color: white;
  font-size: 50px;
}

header span {
  text-transform: none;
  color: white;
  font-size: 20px;
}

/* Section */
section {
  background-color: #282C33;
  padding: 20px;
  border: 2px solid cornflowerblue;
  border-radius: 10px;
  margin: 20px;
}

.icons {
  margin: auto;
}

/* Icons */
img {
  height: 120px;
  width: 120px;
  padding: 20px;
}

/* Footer */
footer {
  display: flex;
  background-color: cornflowerblue;
  color: white;
  height: 50px;
}

footer .attributions {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  margin: auto;
}

footer a {
  color: white;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 800px) {
  header {
    height: 200px;
  }

  header h1 {
    font-size: 80px;
  }
}
