* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  background-color: #20242A;
}

/* Header */
header {
  display: flex;
  background: cornflowerblue;
  background: -moz-linear-gradient(to right, cornflowerblue, blueviolet);
  background: -webkit-linear-gradient(to right, cornflowerblue, blueviolet);
  background: linear-gradient(to right, cornflowerblue, blueviolet);
  height: 150px;
  text-align: center;
}

header h1 {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
  color: white;
  font-size: 50px;
  margin: auto;
}

section {
  background-color: #282C33;
  padding: 20px;
  border: 2px solid cornflowerblue;
  border-radius: 10px;
  margin: 20px;
}

h2 {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  text-transform: capitalize;
  color: cornflowerblue;
}

p {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #ABB2BE;
  margin-top: 10px;
}

a {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ABB2BE;
}

a:hover {
  color: cornflowerblue;
}

.icons {
  margin: auto;
}

/* Icons */
img {
  height: 120px;
  width: 120px;
  padding: 20px;
}

/* Footer */
footer {
  display: flex;
  background-color: cornflowerblue;
  color: white;
  height: 50px;
}

footer .attributions {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  margin: auto;
}

footer a {
  color: white;
}

footer a:hover {
  color: blueviolet;
}
