* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  background-color: #20242A;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Defaults */
h2 {
  font-size: 30px;
  text-transform: capitalize;
  color: cornflowerblue;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 26px;
  color: #ABB2BE;
}

a {
  color: #ABB2BE;
}

a:hover {
  color: cornflowerblue;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  background: cornflowerblue;
  background: -moz-linear-gradient(to right, cornflowerblue, blueviolet);
  background: -webkit-linear-gradient(to right, cornflowerblue, blueviolet);
  background: linear-gradient(to right, cornflowerblue, blueviolet);
  text-align: center;
  justify-content: center;
  height: 150px;
}

header h1 {
  text-transform: capitalize;
  color: white;
  font-size: 50px;
}

header span {
  text-transform: none;
  color: white;
  font-size: 20px;
}

/* Section */
section {
  background-color: #282C33;
  margin: 20px;
  padding: 20px;
  border: 2px solid cornflowerblue;
  border-radius: 10px;
}

/* Icons */
.icons {
  text-align: center;
}

.icon {
  position: relative;
  display: inline-block;
  height: 80px;
  width: 80px;
  margin: 20px;
}

/* Tooltip text */
.icon .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #20242A;
  color: cornflowerblue;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 105%;
  left: 50%;
  margin-left: -50px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.icon:hover .tooltiptext {
  visibility: visible;
}

/* Footer */
footer {
  display: flex;
  background-color: cornflowerblue;
  color: white;
  height: 50px;
}

footer .attributions {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  margin: auto;
}

footer a {
  color: white;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 800px) {
  section {
    max-width: 800px;
    margin: 20px auto;
  }

  header {
    height: 200px;
  }

  header h1 {
    font-size: 80px;
  }
}
